* {
  margin: 0;
  padding: 0;
  

  box-sizing: border-box;
}

:root {
  --primary-color: #659E38;
  --primary-text-color: #ffffff;
  --primary-hover-color: #567b31;
  --primary-shadow-color: #669605;

  --secondary-color: #044A04;
  --secondary-text-color: #ffffff;
}

/* Warna hijau muda */
.green-light {
  color: #659E38;
}

/* Warna hijau tua */
.green-dark {
  color: #044A04;
}

@keyframes full-slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes full-slide-to-left {
  to {
    transform: translateX(-100%);
  }
}

::view-transition-old(main) {
  animation-name: full-slide-to-left;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
}

::view-transition-new(main) {
  animation-name: full-slide-from-right;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.skip-link {
  background: var(--primary-color);
  padding: 4px 8px;

  inset-inline: auto;
  position: absolute;

  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;

  transform: translateY(-150%);
}

.skip-link:focus,
.skip-link:focus-within {
  transform: translateY(0%);
}

.container {
  padding-inline: 32px;
  margin-inline: auto;
  max-width: 1300px;
}

a,
button {
  min-height: 44px;
  min-width: 44px;

  color: var(--primary-color);
}

input,
textarea,
select {
  transition: box-shadow 150ms ease-in-out;
}

input,
textarea {
  min-height: 44px;
  min-width: 44px;
  width: 100%;
  padding: 12px 10px;
  border-radius: 4px;
  border: 1px solid #d4d4d4;

  font-size: 1rem;
  font-family: 'Poppins', sans-serif;

  resize: vertical;
}

input[type='radio'],
input[type='checkbox'] {
  min-height: auto;
  min-width: auto;
  width: auto;
  display: inline;

  transition: 150ms ease-in-out;
}

textarea {
  min-height: 150px;
}

select {
  display: inline-block;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 10px 20px;

  font-size: 1rem;
  line-height: 1rem;

  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

.btn {
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid var(--primary-color);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-text-color) !important;

  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  background-color: var(--primary-hover-color);
}

.btn[disabled] {
  background-color: var(--primary-hover-color);
  cursor: not-allowed;
}

.btn.btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary-color);

  color: var(--primary-color) !important;
}

.btn.btn-outline:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--primary-text-color) !important;
}

.btn.btn-transparent {
  border: 1px solid #d4d4d4;
  background-color: #ffffff;
  color: #09090b !important;
}

.btn.btn-transparent:hover {
  background-color: #d4d4d4;
}

.btn.btn-transparent:focus-visible {
  outline: none;
  border-color: var(--primary-shadow-color);
  box-shadow: 0 0 0 4px var(--primary-shadow-color);
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible,
.btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px var(--primary-shadow-color);
}

form > .form-control:not([hidden]) ~ .form-control:not([hidden]) {
  margin-block-start: 30px;
}

form .form-control > :not([hidden]) ~ :not([hidden]) {
  margin-block-start: 10px;
}

form .form-buttons {
  margin-block-start: 30px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

/* Loader */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  text-align: center;
}

.loader::after {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 6px solid #d4d4d4aa;
  border-bottom-color: var(--primary-color);
  border-radius: 100%;

  animation: rotation 1s linear infinite;
}

.loader.loader-absolute::after {
  position: absolute;
  inset: 0;
  margin: auto;
}

i.loader-button {
  animation: rotation 1s linear infinite;
}

/* HEADER */
header {
  background-color: #ffffff;

  position: sticky;
  inset-block-start: 0;
  box-shadow: 0 1px 4px 0 #00000055;
  z-index: 9999;

  view-transition-name: header;
}

.header-content {
  min-height: 90px;
  padding-block: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-left: 40px;
  width: 100%;
}

.brand-name__link {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  font-size: 1.35rem;
  font-weight: bold;
  text-decoration: none;
  color: #2f9143;
}

.navigation-drawer {
  display: flex;
  align-items: center;
  gap: 20px;
  width: auto; 
  margin-left: auto; 
  position: static;
  background-color: transparent; 
}

.navigation-drawer__navlist-main li a.active {
  color: #659E38; /* Hijau Muda */
  font-weight: bold;
}

.navigation-drawer.open {
  inset-block-start: 90px;
  transform: translateY(0);
  opacity: 1;

  transition: opacity 150ms;
}

.drawer-button {
  background-color: transparent;
  display: inline-block;
  padding: 8px;
  border: 0;
  border-radius: 4px;

  font-weight: bold;
  font-size: 28px;
  color: #141e16;

  cursor: pointer;
}

.navigation-drawer__navlist-main,
.navigation-drawer__navlist {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navigation-drawer__navlist-main li a,
.navigation-drawer__navlist-main li button {
  color: #5d5d5d;
}

.navigation-drawer__navlist li a,
.navigation-drawer__navlist li button {
  color: #5d5d5d;
}

.navigation-drawer__navlist-main li a,
.navigation-drawer__navlist-main li button,
.navigation-drawer__navlist li a,
.navigation-drawer__navlist li button {
  width: 100%;
  padding: 6px 10px;

  display: flex;
  align-items: center;
  gap: 10px;

  text-decoration: none;
}

.navigation-drawer__navlist-main li a:hover {
  color: #09090b;
  text-shadow: 0 0 1px black;
}

/* Layar Fleksibel - Header */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    margin-left: 0;
    gap: 10px;
  }

  .navigation-drawer {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: white;
    padding: 10px 20px;
    position: relative;
  }

  .navigation-drawer.open {
    display: flex;
  }

  header {
    position: relative;
  }
}
/* END HEADER */

/* HOME PAGE */
/* Hero Section */
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #F9F9F9;
  height: 500px;
}

.hero-content {
  max-width: 50%;
  padding-left: 80px;
}

.hero-content h1 {
  font-size: 2.7rem;  
}

.hero-content p {
  font-size: 18px;  
  padding-bottom: 20px;
  padding-top: 20px;
}

.cta-button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Menghilangkan underline */
    display: inline-block; /* Supaya hover berfungsi */
}

.cta-button:hover {
  background-color: var(--primary-hover-color);
  transform: scale(1.05); /* Membesar 5% */
}

.hero-image { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 150px;
}

/* About Section */
#about {
  text-align: center;
  padding: 40px;
  background-color: #FFFFFF;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

#about h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

#about p {
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1000px;
  margin: 0 auto; /* Membuat paragraf rata tengah */
  line-height: 2; /* Memperbaiki jarak antar baris agar lebih nyaman dibaca */
}

/* Steps Section */
#steps {
  background-color: var(--primary-color);
  color: white;
  padding: 70px 40px;
  text-align: center;
  height: 550px;
  justify-content: center;
}

#steps h2 {
  margin-bottom: 60px;
  font-size: 2rem; 
}

.step h3 {
  margin-top: 20px;
}

#steps p {
  font-size: 16px;
  margin-top: 20px;
  margin: 0 auto; 
  line-height: 2;
}

.steps-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch; /* Menyamakan tinggi tiap kolom */
    margin-top: 20px;
    margin-bottom: 10px;
}

.step {
  max-width: 350px;
  flex: 1; /* Agar semua step punya lebar & tinggi setara */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Waste Type Section */
#waste-type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  padding-block: 50px;
  background-color: white;
  margin-top: 50px;
}

  .type-image {
    display: flex;
    gap: 30px;
   }

  .category {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
    height: 300px;
    transition: transform 0.3s ease; 
  }

  .category:hover {
  transform: scale(1.05); /* Membesar 5% */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Bayangan lebih tegas */
}

  .category img {
    max-width: 200px;
    margin-bottom: 30px;
  }

  .type-content h2 {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .type-content p {
    font-size: 1rem;
    color: black;
    max-width: 500px;
    line-height: 2;
    padding-bottom: 20px;
  }

/* Layar Fleksibel */
/* Hero */
@media (max-width: 768px) {
  #hero {
    flex-direction: column;  
    align-items: center;     
    text-align: center;      
  }

  .hero-content {
    max-width: 90%;         
    padding-left: 0;        
  }

  .hero-image {
    margin-right: 0;       
    margin-top: 40px;       
  }

  /* Steps */
  .steps-container {
    flex-direction: column;  
    align-items: center;     
    text-align: center;
  }

  .step {
    max-width: 90%; /* Lebar step mengikuti layar */
  }

  .step p {
    padding-bottom: 50px;
  }

  /* Waste Type */
  #waste-type {
    flex-direction: column;  
    align-items: center;     
    text-align: center;
  }
  .type-image {
    flex-direction: column;  
    align-items: center;     
    text-align: center;
  }

  .type-content {
    gap: 0px
  }
}
/* END OF HOME PAGE */

/* CLASSIFY PAGE */
.classify-page {
  padding: 40px 80px;
  background-color: white;
}

.classify-page h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.classify-page p {
  text-align: center;
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto 30px;
  color: black;
  line-height: 2;
}

#classification-card-section {
  display: flex;
  justify-content: center;
}

.upload-area {
  display: flex;                 
  flex-direction: column;        
  justify-content: center;       
  align-items: center;          
  border: 3px dashed #99D06D;
  width: 600px;
  height: 400px;                 
  border-radius: 12px;
  background-color: #fcfcfc;
  margin-bottom: 2rem;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.upload-area img#captured-image {
  position: absolute;
  top: 1;
  left: 0;;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: none;
  object-fit: cover;
  z-index: 1;
}

#camera-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
}

.upload-area img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Button Unggah & Buka Kamera */
.upload-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn-unggah {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.btn-unggah:hover {
  background-color: var(--primary-hover-color);
  transform: scale(1.05); 
}

.btn-camera {
  background-color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: 
  background-color 0.3s ease,
  color 0.3s ease,
  border 0.3s ease,
  transform 0.2s ease;
  color: var(--secondary-color);
  border: 3px solid var(--primary-color);
}

.btn-camera:hover {
  background-color: var(--primary-hover-color);
  color: white;

  border: none;
}

/* Button Klasifikasi & Ganti Gambar */
#action-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Preview hasil gambar dari kamera */
#captured-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}

/* Spinner */
.spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  vertical-align: middle;
  margin-right: 0.5rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* END CLASSIFY PAGE */

/* WASTE TYPE PAGE */
.waste-type-page {
  padding: 40px 80px;
  background-color: #fff;
}

.waste-type-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.waste-type-description {
  text-align: center;
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto 60px;
  
  color: black;
  line-height: 2;
}

/* Container kategori */
.waste-type-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

/* Kategori organik dan anorganik */
.waste-category {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 24px;
  width: 90%;
}

.waste-category h3 {
  margin-top: 0;
  color: var(--primary-color);
  font-weight: 600;
}

/* Daftar item sampah */
.waste-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
  justify-content: center;
}

/* Kartu item sampah */
.waste-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: transform 0.2s ease;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 250px;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

.waste-card img {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 25px;
}

.waste-card p {
  margin: 0;
  font-size: 16px;
  color: black;
}

.waste-card:hover {
  transform: translateY(-15px);
  
}

/* Keterangan pengolahan */
.waste-processing {
  font-size: 14px;
  color: #444;
  font-style: italic;
  margin-top: 30px;
}
/* END WASTE TYPE PAGE */

/* IMPACT PAGE */
.impact-page {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.impact-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

.impact-description {
  font-size: 16px;
  color: black;
  margin-bottom: 40px;
  line-height: 1.8;
}

.impact-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  gap: 24px;
}

.impact-card {
  border: 1.5px solid #cde9cb;
  border-radius: 12px;
  padding: 24px;
  background: #fff;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.impact-card:hover {
  transform: translateY(-15px);
}

.impact-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0; 
}

.impact-card-title {
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 18px;
  padding-right: 56px; 
}

.impact-card-image {
  width: 48px;  
  height: 48px;
}

.impact-card p {
  font-size: 16px;
  color: black;
  line-height: 1.5;
  margin-bottom: 0;
}
/* END IMPACT PAGE */

/* ABOUT PAGE */
.about-page {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.about-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.about-description {
  font-size: 16px;
  color: black;
  margin-bottom: 40px;
  line-height: 1.8;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.team-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  width: 250px;
  margin-left: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease;
}

.team-card:hover {
  transform: scale(1.05);
}

.team-photo {
  width: 100%;
  height: 200px;
  background: #ddd;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.team-info {
  padding: 16px;
}

.team-name {
  margin: 8px 0 4px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(35, 34, 34)
}

.team-role {
  font-size: 14px;
  color: #1E1E1E;
}
/* END ABOUT PAGE */

/* DETAIL PAGE */
.story-detail__container,
.story-detail {
  position: relative;
  min-height: 80vh;
}

.story-detail__header {
  padding-block: 80px;
  min-height: 600px;
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-align: center;
}

.story-detail__title {
  font-size: 2.5rem;
  color: #09090b;
}

.story-detail__more-info {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;

  font-size: 1.5rem;
  color: #09090b
}

.story-detail__more-info__inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.story-detail__createdat,
.report-detail__location__place-name,
.report-detail__location__latitude,
.report-detail__location__longitude,
.report-detail__author {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.report-detail__createdat::after,
.report-detail__location__place-name::after,
.report-detail__location__latitude::after,
.report-detail__location__longitude::after,
.report-detail__author::after {
  content: attr(data-value);
  color: #09090b;
}

.story-detail__images__container {
  width: 90%;
  margin-inline: auto;
  position: relative;
  inset-block-start: -100px;

  scale: 1.1;
}

.story-detail__images {
  height: 300px;
}

.story-detail__image {
  width: 100%;
  height: 100%;
  background-color: #f7f3f3;
  border-radius: 20px;

  object-fit: contain;
  object-position: center;
}

/* Tiny Slider */
.tns-nav {
  margin-block: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tns-nav > [aria-controls] {
  min-height: auto;
  min-width: auto;
  width: 10px;
  height: 10px;
  border-radius: 999px;
  background: var(--secondary-color);
  border: 0;
}

.tns-nav > .tns-nav-active[aria-controls] {
  background-color: var(--primary-color);
}
/* Tiny Slider */

.story-detail__body {
  margin-block: 40px;
  margin-inline: auto;
  max-width: 800px;

  display: grid;
  grid-template-columns: 1fr;

  gap: 30px;
}

.story-detail__description__title,
.story-detail__map__title,
.story-detail__comments-form__title {
  margin-block-end: 12px;
  font-size: 1.5rem;
}

.story-detail__map__container,
.story-detail__map {
  height: 500px;
  position: relative;
  border-radius: 20px;
}

.story-detail__map__container {
  background-color: darkgray;
}

.story-detail__body__actions__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.story-detail__actions__buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

/* Report comments section */
.report-detail__comments__container {
  max-width: 800px;
  margin-block: 30px;
  margin-inline: auto;
}

/* Report comments form */
.report-detail__comments-form__container {
  margin-block: 20px 40px;
}

.report-detail__comments-form__form textarea {
  min-height: 150px;
}

.report-detail__comments-form__form button {
  margin-block-start: 10px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.report-detail__comments-form__loader {
  animation: rotation 1s linear infinite;
}

/* Report comments list */
.report-detail__comments-list__container,
.report-detail__comments-list {
  min-height: 150px;
  position: relative;
}

.report-detail__comments-list {
  margin-block: 30px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.report-detail__comments-list__empty {
  text-align: center;
}

.report-detail__comment-item {
  display: flex;
  gap: 20px;
}

.report-detail__comment-item__photo {
  aspect-ratio: 1 / 1;
  width: 50px;
  height: 50px;
  border-radius: 100%;

  align-self: start;
}

.report-detail__comment-item__body {
  flex-grow: 1;
}

.report-detail__comment-item__body__more-info {
  margin-block-end: 8px;
  display: flex;
  gap: 12px;

  color: #555;
}

.report-detail__comment-item__body__author {
  font-weight: 600;
  color: #09090b;
}

.report-detail__comment-item__body__text {
  color: #5d5d5d;
}
/* Report comments section */
/* END OF DETAIL PAGE */

/* NEW REPORT FORM */
.new-report__header {
  padding-block: 70px;
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-align: center;
}

.new-report__header__title {
  margin-block-end: 16px;
  color: white;
}

.new-report__header__description {
  color: white;
  font-size: 1.125rem;
}

/* form */
.new-form__container {
  max-width: 800px;
  margin-inline: auto;
}

.new-form {
  border: 1px solid var(--primary-color);
  border-radius: 8px;

  padding: 30px 25px;
}

.new-form > .form-control > :not([hidden]) ~ :not([hidden]) {
  margin-block-start: 8px;
}

.new-form__title__title,
.new-form__damage-level__title,
.new-form__description__title,
.new-form__documentations__title,
.new-form__location__title {
  display: block;

  font-weight: 500;
  font-size: 1rem;
}

.new-form__title__container > :not([hidden]) ~ :not([hidden]),
.new-form__damage-level__container > :not([hidden]) ~ :not([hidden]),
.new-form__description__container > :not([hidden]) ~ :not([hidden]),
.new-form__documentations__container > :not([hidden]) ~ :not([hidden]),
.new-form__location__container > :not([hidden]) ~ :not([hidden]) {
  margin-block-start: 10px;
}

.btn-black-text {
  color: black;
}

/* New Documentations */
.new-form__documentations__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-form__camera__container {
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 8px;

  display: none;
}

.new-form__camera__container.open {
  display: block;
}

.new-form__camera__video {
  width: 100%;
  border-radius: 4px;
  display: block;
}

.new-form__camera__canvas {
  display: none;
}

.new-form__camera__tools {
  margin-block: 8px;

  display: flex;
  flex-direction: column;
  gap: 8px 16px;
}

.new-form__documentations__outputs {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  justify-content: center;
  gap: 16px;
}

.new-form__documentations__outputs-item__delete-btn {
  appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  border: none;

  cursor: pointer;
}

.new-form__documentations__outputs-item__delete-btn img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  transition: 150ms ease-in-out;
}

.new-form__documentations__outputs-item__delete-btn:hover img {
  scale: 1.05;
}

/* New Locations */
.new-form__location__map__container,
.new-form__location__map {
  height: 400px;
  position: relative;
  border-radius: 20px;
}

.new-form__location__map__container {
  background-color: darkgray;
}

.new-form__location__lat-lng {
  margin-block: 16px 8px;

  display: flex;
  gap: 10px;
}
/* END OF NEW REPORT FORM */

/* PAGE NOT FOUND */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f7fafc;
}

.not-found__title {
  font-size: 5rem;
  color: #2d3748;
  margin-bottom: 10px;
}

.not-found__description {
  font-size: 1.25rem;
  color: #718096;
}

.not-found__button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.not-found__button:hover {
  background-color: var(--primary-hover-color);
}
/* END PAGE NOT FOUND */

/* FOOTER */
footer {
  margin-block-start: 80px;
  background-color: #659E38;
  color: white;
  width: 100%;
  padding: 0;
}

.container {
  max-width: 100%; 
}

.footer-content {
  padding-block: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center; 
}

.copyright {
  width: 100%;
  font-size: 18px;
}

