* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #659E38;
  --primary-text-color: #ffffff;
  --primary-hover-color: #567b31;
  --primary-shadow-color: #669605;

  --secondary-color: #044A04;
  --secondary-text-color: #ffffff;
}

/* Warna hijau muda */
.green-light {
  color: #659E38;
}

/* Warna hijau tua */
.green-dark {
  color: #044A04;
}

@keyframes full-slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes full-slide-to-left {
  to {
    transform: translateX(-100%);
  }
}

::view-transition-old(main) {
  animation-name: full-slide-to-left;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
}

::view-transition-new(main) {
  animation-name: full-slide-from-right;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.skip-link {
  background: var(--primary-color);
  padding: 4px 8px;

  inset-inline: auto;
  position: absolute;

  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;

  transform: translateY(-150%);
}

.skip-link:focus,
.skip-link:focus-within {
  transform: translateY(0%);
}

.container {
  padding-inline: 32px;
  margin-inline: auto;
  max-width: 1300px;
}

a,
button {
  min-height: 44px;
  min-width: 44px;

  color: var(--primary-color);
}

input,
textarea,
select {
  transition: box-shadow 150ms ease-in-out;
}

input,
textarea {
  min-height: 44px;
  min-width: 44px;
  width: 100%;
  padding: 12px 10px;
  border-radius: 4px;
  border: 1px solid #d4d4d4;

  font-size: 1rem;
  font-family: 'Poppins', sans-serif;

  resize: vertical;
}

input[type='radio'],
input[type='checkbox'] {
  min-height: auto;
  min-width: auto;
  width: auto;
  display: inline;

  transition: 150ms ease-in-out;
}

textarea {
  min-height: 150px;
}

select {
  display: inline-block;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 10px 20px;

  font-size: 1rem;
  line-height: 1rem;

  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

.btn {
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid var(--primary-color);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-text-color) !important;

  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  background-color: var(--primary-hover-color);
}

.btn[disabled] {
  background-color: var(--primary-hover-color);
  cursor: not-allowed;
}

.btn.btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary-color);

  color: var(--primary-color) !important;
}

.btn.btn-outline:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--primary-text-color) !important;
}

.btn.btn-transparent {
  border: 1px solid #d4d4d4;
  background-color: #ffffff;
  color: #09090b !important;
}

.btn.btn-transparent:hover {
  background-color: #d4d4d4;
}

.btn.btn-transparent:focus-visible {
  outline: none;
  border-color: var(--primary-shadow-color);
  box-shadow: 0 0 0 4px var(--primary-shadow-color);
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible,
.btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px var(--primary-shadow-color);
}

form > .form-control:not([hidden]) ~ .form-control:not([hidden]) {
  margin-block-start: 30px;
}

form .form-control > :not([hidden]) ~ :not([hidden]) {
  margin-block-start: 10px;
}

form .form-buttons {
  margin-block-start: 30px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

/* Loader */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  text-align: center;
}

.loader::after {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 6px solid #d4d4d4aa;
  border-bottom-color: var(--primary-color);
  border-radius: 100%;

  animation: rotation 1s linear infinite;
}

.loader.loader-absolute::after {
  position: absolute;
  inset: 0;
  margin: auto;
}

i.loader-button {
  animation: rotation 1s linear infinite;
}

/* HEADER */
header {
  background-color: #ffffff;
  position: sticky;
  inset-block-start: 0;
  box-shadow: 0 1px 4px 0 #00000055;
  z-index: 9999;
  view-transition-name: header;
}

.header-content {
  min-height: 90px;
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.brand-name__link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 1.35rem;
  font-weight: bold;
  text-decoration: none;
}

.navigation-drawer {
  display: flex;
  align-items: center;
  gap: 20px;
  width: auto; 
  margin-left: auto; 
  position: static;
  background-color: transparent; 

  min-height: 100vh;
  width: 100%;
  padding: 20px 10px;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 20px;

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;

  transform: translateY(-100%);
  opacity: 0;
  transition:
    opacity 150ms,
    inset-block-start 0ms 150ms,
    transform 0ms 150ms;

  z-index: 9999;
}

.navigation-drawer__navlist-main li a.active {
  color: #659E38;
  font-weight: bold;
}

.navigation-drawer.open {
  inset-block-start: 90px;
  transform: translateY(0);
  opacity: 1;

  transition: opacity 150ms;
}

.drawer-button {
  background-color: transparent;
  display: inline-block;
  padding: 8px;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  font-size: 28px;
  color: #141e16;

  cursor: pointer;
}

.navigation-drawer__navlist-main,
.navigation-drawer__navlist {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navigation-drawer__navlist-main li a,
.navigation-drawer__navlist-main li button {
  color: #5d5d5d;
}

.navigation-drawer__navlist li a,
.navigation-drawer__navlist li button {
  color: #5d5d5d;
}

.navigation-drawer__navlist-main li a,
.navigation-drawer__navlist-main li button,
.navigation-drawer__navlist li a,
.navigation-drawer__navlist li button {
  width: 100%;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.navigation-drawer__navlist-main li a:hover {
  color: #09090b;
  text-shadow: 0 0 1px black;
}

.navigation-drawer__navlist-main li a.active {
  color: var(--primary-color);
  font-weight: bold;
}
/* END HEADER */

/* HOME PAGE */
/* Hero Section */
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #F9F9F9;
  height: 500px;
}

.hero-content {
  max-width: 50%;
  padding-left: 80px;
}

.hero-content h1 {
  font-size: 36px;  
}

.hero-content p {
  font-size: 16px;  
  padding-bottom: 20px;
  padding-top: 20px;
}

.cta-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.cta-button:hover {
  background-color: var(--primary-hover-color);
  transform: scale(1.05);
}

.hero-image { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 150px;
}

/* About Section */
#about {
  text-align: center;
  padding: 40px;
  background-color: #FFFFFF;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

#about h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

#about p {
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1000px;
  margin: 0 auto; /* Membuat paragraf rata tengah */
  line-height: 2; /* Memperbaiki jarak antar baris agar lebih nyaman dibaca */
}

/* Steps Section */
#steps {
  background-color: var(--primary-color);
  color: white;
  padding: 70px 40px;
  text-align: center;
  height: 550px;
  justify-content: center;
}

#steps h2 {
  margin-bottom: 60px;
  font-size: 30px; 
}

.step h3 {
  margin-top: 20px;
}

#steps p {
  font-size: 16px;
  margin-top: 20px;
  margin: 0 auto; 
  line-height: 2;
}

.steps-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch; /* Menyamakan tinggi tiap kolom */
  margin-top: 20px;
  margin-bottom: 10px;
}

.step {
  max-width: 350px;
  flex: 1; /* Agar semua step punya lebar & tinggi setara */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Waste Type Section */
#waste-type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  padding-block: 50px;
  background-color: white;
  margin-top: 50px;
}

.type-image {
  display: flex;
  gap: 30px;
  }

.category {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 250px;
  height: 300px;
  transition: transform 0.3s ease; 
}

.category:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
}

.category img {
  max-width: 200px;
  margin-bottom: 30px;
}

.type-content h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.type-content p {
  font-size: 1rem;
  color: black;
  max-width: 500px;
  line-height: 2;
  padding-bottom: 20px;
}
/* END OF HOME PAGE */

/* CLASSIFY PAGE */
.classify-page {
  padding: 40px 80px;
  background-color: white;
}

.classify-page h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.classify-page p {
  text-align: center;
  font-size: 14px;
  max-width: 700px;
  margin: 0 auto 30px;
  color: black;
  line-height: 2;
}

#classification-card-section {
  display: flex;
  justify-content: center;
}

.upload-area {
  display: flex;                 
  flex-direction: column;        
  justify-content: center;       
  align-items: center;          
  border: 3px dashed #99D06D;
  width: 600px;
  height: 400px;                 
  border-radius: 12px;
  background-color: #fcfcfc;
  margin-bottom: 2rem;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.upload-area img#captured-image {
  position: absolute;
  top: 1;
  left: 0;;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: none;
  object-fit: cover;
  z-index: 1;
}

#camera-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
}

.upload-area img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Button Unggah & Buka Kamera */
.upload-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn-unggah {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.btn-unggah:hover {
  background-color: var(--primary-hover-color);
  transform: scale(1.05); 
}

.btn-camera {
  background-color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: 
  background-color 0.3s ease,
  color 0.3s ease,
  border 0.3s ease,
  transform 0.2s ease;
  color: var(--secondary-color);
  border: 3px solid var(--primary-color);
}

.btn-camera:hover {
  background-color: var(--primary-hover-color);
  color: white;

  border: none;
}

/* Button Klasifikasi & Ganti Gambar */
#action-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Preview hasil gambar dari kamera */
#captured-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}

/* Spinner */
.loading-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.loading-box {
  background: white;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 300px;
  height: 200px;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid var(--primary-color);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}


/* Hasil Klasifikasi */
#result-card-section {
  display: flex;
  justify-content: center;
  flex-direction: column;              
  align-items: center;          
  /* border: 2px solid #99D06D; */
  width: auto;
  height: auto;                 
  border-radius: 12px;
  background-color: #fcfcfc;
  margin: 2rem auto;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

#result-card-section h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

#tabel-klasifikasi {
  width: 90%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-size: 14px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#tabel-klasifikasi th,
#tabel-klasifikasi td {
  border: 1px solid var(--primary-color);
  padding: 12px 16px;
  text-align: left;
  vertical-align: top;
}

#tabel-klasifikasi tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#tabel-klasifikasi td {
  color: #333;
}

#tabel-klasifikasi th {
  font-weight: bold;
}
/* END CLASSIFY PAGE */

/* WASTE TYPE PAGE */
.waste-type-page {
  padding: 40px 80px;
  background-color: #fff;
}

.waste-type-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.waste-type-description {
  text-align: center;
  font-size: 15px;
  max-width: 700px;
  margin: 0 auto 60px;
  
  color: black;
  line-height: 2;
}

/* Container kategori */
.waste-type-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

/* Kategori organik dan anorganik */
.waste-category {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 24px;
  width: 100%;
}

.waste-category h3 {
  margin-top: 0;
  color: var(--primary-color);
  font-weight: 600;
}

/* Kartu item sampah */
.waste-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: transform 0.2s ease;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 250px;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
}

.waste-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  justify-items: center;
  margin-top: 20px;
}

.waste-card img {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 25px;
}

.waste-card p {
  margin: 0;
  font-size: 14px;
  color: black;
}

.waste-card:hover {
  transform: translateY(-15px);
}

/* Keterangan pengolahan */
.waste-processing {
  font-size: 13px;
  color: #444;
  font-style: italic;
  margin-top: 30px;
}
/* END WASTE TYPE PAGE */

/* IMPACT PAGE */
.impact-page {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.impact-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

.impact-description {
  font-size: 14px;
  color: black;
  margin-bottom: 40px;
  line-height: 1.8;
}

.impact-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  gap: 24px;
}

.impact-card {
  border: 1.5px solid #cde9cb;
  border-radius: 12px;
  padding: 24px;
  background: #fff;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.impact-card:hover {
  transform: translateY(-15px);
}

.impact-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0; 
}

.impact-card-title {
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 16px;
  padding-right: 56px; 
}

.impact-card-image {
  width: 48px;  
  height: 48px;
}

.impact-card p {
  font-size: 14px;
  color: black;
  line-height: 1.5;
  margin-bottom: 0;
}
/* END IMPACT PAGE */

/* ABOUT PAGE */
.about-page {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.about-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.about-description {
  font-size: 14px;
  color: black;
  margin-bottom: 40px;
  line-height: 1.8;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.team-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  width: 250px;
  margin-left: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease;
}

.team-card:hover {
  transform: scale(1.05);
}

.team-photo {
  width: 100%;
  height: 225px;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.team-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
  display: block;
}

.team-info {
  padding: 16px;
}

.team-name {
  margin: 8px 0 4px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(35, 34, 34)
}

.team-role {
  font-size: 12px;
  color: #1E1E1E;
}
/* END ABOUT PAGE */

/* PAGE NOT FOUND */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f7fafc;
}

.not-found__title {
  font-size: 5rem;
  color: #2d3748;
  margin-bottom: 10px;
}

.not-found__description {
  font-size: 1.25rem;
  color: #718096;
}

.not-found__button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.not-found__button:hover {
  background-color: var(--primary-hover-color);
}
/* END PAGE NOT FOUND */

/* FOOTER */
footer {
  margin-block-start: 80px;
  background-color: #659E38;
  color: white;
  width: 100%;
  padding: 0;
}

.container {
  max-width: 100%; 
}

.footer-content {
  padding-block: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center; 
}

.footer-content p {
    font-size: 14px;
}
.copyright {
  width: 100%;
  font-size: 18px;
}

